.topbar  {
  background-color: #26a69a !important;
}

.navbar-fixed {
  position: absolute;z-index:999999999;
}

.check [type="checkbox"] + label, .fixed [type="radio"] + label {
  pointer-events: auto;
}

.responsive-image{
  width: 100%;
  background-size: 100% 100%;
} 


/* 
@media screen and (min-width: 1024px){
  .responsive-image{
      background-image: url('../img/retina.jpg');
  }
}

@media screen and (min-width: 980px) and (max-width: 1024px){
  .responsive-image{
      background-image: url('../img/desktop.jpg');
  }
}

@media screen and (min-width: 760px) and (max-width: 980px){
  .responsive-image{
      background-image: url('../img/tablet.jpg');
  }
}

@media screen and (min-width: 350px) and (max-width: 760px){
  .responsive-image{
      background-image: url('../img/mobile-hd.jpg');
  }
}

@media screen and (max-width: 350px){
  .responsive-image{
      background-image: url('../img/mobile-ld.jpg');
  }
}  */

